@{
    ViewBag.Title = "Search";
}


<div class="Search">
    
    

    <div class="container body-content">
        

        <div style="background-color: darkkhaki">
            <h2>Advanced Search</h2>
            

            <div class="form-horizontal">
                <hr />

                <div class="form-group">
                    @Html.Label("Select a Category from the drop-down box:")
                    <div class="col-md-10">
                        @Html.DropDownList("SubCategories", "None")
                    </div>
                </div>

                <div class="well">
                    <div class="form-group">
                        @Html.Label("Enter your Zip code to search for activities nearby:")
                        <div class="col-md-10">
                            @Html.TextBox("Zip Code")
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Select distance radius:")
                        <div class="col-md-12">
                            @Html.DropDownList("Distance", "NA")
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Enter a term to search for:")
                    <div class="col-md-12">
                        @Html.TextBox("Search Term")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>

            </div>
    </div>
</div>
    </div>

