@model IEnumerable<PNFun.Models.SubCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BackgroundPhotoLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ranking)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotoLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BackgroundPhotoLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AltDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ranking)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
