@model PNFun.Models.RecreationSite

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RecreationSite</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Page, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Page)
                @Html.ValidationMessageFor(model => model.Page)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoLocation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhotoLocation)
                @Html.ValidationMessageFor(model => model.PhotoLocation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AltDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AltDescription)
                @Html.ValidationMessageFor(model => model.AltDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating)
                @Html.ValidationMessageFor(model => model.Rating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.access, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.access)
                @Html.ValidationMessageFor(model => model.access)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.restrooms, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.restrooms)
                @Html.ValidationMessageFor(model => model.restrooms)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost)
                @Html.ValidationMessageFor(model => model.Cost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Directions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Directions)
                @Html.ValidationMessageFor(model => model.Directions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageString, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageString)
                @Html.ValidationMessageFor(model => model.ImageString)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MapLink, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MapLink)
                @Html.ValidationMessageFor(model => model.MapLink)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zipcode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Zipcode)
                @Html.ValidationMessageFor(model => model.Zipcode)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
